@import "reset.css";
.wrap-container{
  background: url(../img/bg.jpg) top center no-repeat;
  background-size: 100%;
}
.header{
  width: 100%;
  height: 66px;
  margin:0 auto;
  background: #1f2e48;
}
.header .header-box{
  height: 66px;
  line-height: 66px;
  width: 70%;
  margin:0 auto;
  position: relative;
}
.header .header-box .left{
  float: left;
  display: inline-block;
  *display: inline;
  margin:8px 0 8px;
  background: url(../img/logo.png) left center no-repeat;
  height: 49px;
  width: 146px;
}
.header .header-box .link{
  margin-left: 20px;
  display: block;
  float: left;
  font-size: 13px;
  color:#ccc;
  text-decoration: none;
}
.header .header-box .right{
  float: right;
  display: inline-block;
  *display: inline;
  *zoom:1;
  font-size: 15px;
  padding:0 20px;
  height: 66px;
  line-height: 66px;
  background:#1c6cd9;
  color:#fff;
  text-decoration: none;
}
.header .header-box .header-ewm{
  position: absolute;
  right: -25px;
  top:66px;
  width: 150px;
  height: 150px;
  display: none;
  z-index:9;
}
.header .header-box .right:hover .header-ewm{
  display: block;
}
.container{
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-top:55px;
}
.container-box{
  width: 70%;
  margin:0 auto;
  overflow: hidden;
}
.container img{
  width: 24%;
  float: left;
  overflow: hidden;
  text-align: left;
}
.container .right{
  float: right;
}
.container .right .top-text{
  margin-top: 8%;
  display: block;
  width: 260px;
  height: 50px;
  background: url(../img/app.png) center no-repeat;
  background-size: 100%;
}
.container .right .second-text{
  margin: 3% 0;
  font-size:50px;
  color:#fff;
}

.container .right .third-box {
  float: left;
}
.container .right .third-box ul{
  float: left;
  margin: 15px 0;
}
.container .right .third-box a .img-app{
  width: 196px;
  height: 50px;
  background-size: 100%;
  margin-bottom: 20px;
}
.container .right .ewm-box{
  float: left;
  margin-left: 60px;
  width: 160px;
  height:160px;
  text-align: center;
  border: 1px solid #fff;
}
.container .right .third-box .ewm{
  margin:5px;
  width: 150px;
  height: 150px;
  background-size: 100%;
}
.bottom{
  margin:0 auto;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color:#fff;
  font-size: 13px;
  background: #86976d;
}
@media (min-width: 1024px){
  .container{
    padding-bottom: 40px;
  }
}
