body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0;
}
table, tr, td {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
li {
  list-style: none outside none;
}
fieldset, img, a img {
  border: 0 none;
  outline: 0;
}
caption, th {
  text-align: center;
}
abbr, acronym {
  border: 0;
}
textarea {
  resize: none;
}
abbr, acronym {
  border: 0 none;
  font-variant: normal;
}
a {
  text-decoration: none;
  outline-style: none;
}
a:hover {
  text-decoration: underline;
}