@import 'normalize';
.wrap-container{
  img{
    display: block;
  }
}
.header{
  position: absolute;
  top:0;
  left:0;
  right:0;
  width: 100%;
  height: 66px;
  margin:0 auto;
  background: #1f2e48;
  .header-box{
    height: 66px;
    line-height: 66px;
    width: 62%;
    margin:0 auto;
    position: relative;
    .left{
      float: left;
      display: inline-block;
      *display: inline;
      margin:8px 0 8px;
      background: url(../img/logo.png) left center no-repeat;
      height: 49px;
      width: 146px;
    }
    .link{
      margin-left: 20px;
      display: block;
      float: left;
      font-size: 13px;
      color:#ccc;
      text-decoration: none;
    }
    .right{
      float: right;
      display: inline-block;
      *display: inline;
      *zoom:1;
      font-size: 15px;
      padding:0 20px;
      height: 66px;
      line-height: 66px;
      background:#1c6cd9;
      color:#fff;
      text-decoration: none;
      &:hover{
        .header-ewm{
          display: block;
        }
      }
      .header-ewm{
        position: absolute;
        right: -40px;
        top:66px;
        width: 180px;
        height: 180px;
        display: none;
        z-index:9;
      }
    }
  }
}
.container{
  position: absolute;
  top:66px;
  bottom: 40px;
  left:0;
  right:0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: url(../img/bg.jpg) top center no-repeat;
  background-size: 100%;
  .container-box{
    width:62%;
    margin:0 auto;
    overflow: hidden;
    img{
      width: 28%;
      float: left;
      overflow: hidden;
      text-align: left;
    }
    .img-phone{
      margin:55px 0 40px;
    }
    .right{
      margin-top: 55px;
      float: right;
      .top-text{
        margin-top: 8%;
        display: block;
        width: 320px;
        height: 62px;
        background: url(../img/app.png) center no-repeat;
        background-size: 100%;
      }
      .second-text{
        margin: 3% 0;
        font-size:50px;
        color:#fff;
        text-align: left;
      }
      .third-box {
        float: left;
        ul{
          float: left;
          margin: 15px 0;
        }
        .img-app{
          width: 196px;
          height: 50px;
          background-size: 100%;
          margin-bottom: 20px;
        }
        .ewm-box{
          float: left;
          margin-left: 60px;
          width: 160px;
          height:160px;
          text-align: center;
          border: 1px solid #fff;
        }
        .ewm{
          margin:5px;
          width: 150px;
          height: 150px;
          background-size: 100%;
        }
      }
    }
  }
}

.bottom{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color:#fff;
  font-size: 13px;
  background: #86976d;
}

