.search_checkbox input[type=checkbox]{
  height: 0px;
  width: 0px;
  visibility: hidden;
  margin:0;
  padding:0;
}
.search_checkbox label{
  display: inline-block;
  width: 52px;
  height: 32px;
  border: 1px solid #DFDFDF;
  outline: none;
  border-radius: 16px;
  box-sizing: border-box;
  background: #FFFFFF;
  cursor: pointer;
  transition: border-color .3s,background-color .3s;
  vertical-align: middle;
  position: relative;
}
.search_checkbox label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  background-color: #fff;
}
.search_checkbox input:checked + label {
  background: #33DB70;
}
.search_checkbox input:checked + label:before {
  transform: translateX(20px);
}
